*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    height: 100%;
}

.container{
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
}

.clear{
    clear: both;
}

header{
    background-color: #0062B5;
    padding: 1px 0;
}

.logo-1{
    background-image: url(../images/logopequena.png);
    float: left;
    width: 630px;
    height: 130px;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    /*background-color: purple;
    opacity: 30%;*/
}

.logo-2{
    background-image: url(../images/mini_caminhao.png);
    float: right;
    width: 180px;
    height:120px;
    margin-top: 10px;
    background-size: 100% auto;
    background-repeat: no-repeat;
    /*background-color: green;
    opacity: 30%;*/
}

@media screen and (max-width: 510px){

    header{
        text-align: center;
    }
    
    
    .logo-1,.logo-2{
        margin-top: 10px;
        display: inline-block;
        float: none;
    }


}
    
