* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

html,
body {
    height: 100%;
    background-color: #CDCDCD;
}

.container {
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
}

.clear {
    clear: both;
}

header {
    background-color: #BB281E;
    padding: 0;
}

.logo-1 {
    background-image: url(../images/logo-1.png);
    float: left;
    width: 400px;
    height: 120px;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    /*background-color: purple;
    opacity: 30%;*/
}

.logo-2 {
    background-image: url(../images/logo-2.png);
    float: left;
    width: 140px;
    height: 120px;
    background-size: 100% auto;
    background-repeat: no-repeat;
    /*background-color: green;
    opacity: 30%;*/
}

.logo-3 {
    background-image: url(../images/logo-3.png);
    float: right;
    width: 140px;
    height: 120px;
    background-size: 100% auto;
    background-repeat: no-repeat;
    /*background-color: green;
    opacity: 30%;*/
}

/*
.menu, ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #9e2a22;
}

.menu, li {
    float: left;
}

.menu, li a {
    margin-top: 16px;
    display: block;
    color: white;
    padding: 10px;
    text-decoration: none;
}

.menu, li a:hover {
    background-position: center;
    background-color: #9e2a22;
}
*/

section.cover-form {
    width: 100%;
}

.bg {
    background-image: url(../images/foto_banner.jpg);
    height: 700px;
    background-size: cover;
    background-position: center;
    /*filter: opacity(70%);*/
}

.botao {
    background-image: url(../images/botao.png);
    position: absolute;
    width: 80px;
    height: 80px;
    background-repeat: no-repeat;
    margin-left: -20px;
    left: 50%;
    top: -15%;
    background-size: 100% 100%;
}

.form-container {
    float: right;
    margin-right: 40px;
    width: 400px;
    height: 110%;
    position: relative;
    top: -2%;
    z-index: 2;
    opacity: 95%;
    background-color: white;
    box-shadow: 1px 1px 1px 2px rgb(180, 180, 180)
}

.form-container h2 {
    font-weight: normal;
    padding: 25px 15px;
    color: white;
    font-size: 25px;
    background-color: #b62c22;
}

.form-container form {
    margin-top: 5px;
    padding: 15px;

}

.form-container form p {
    font-size: 14px;
    color: #525252;
}

.form-wraper:not(:first-child) {
    margin-top: 7px;
}

.form-wraper:last-child {
    margin-top: 7px;
}

.form-container form input[type=text] {
    width: 100%;
    border: 1px solid #ccc;
    height: 45px;
    line-height: 45px;
    padding-left: 10px;
}

.form-container form input[type=submit] {
    background-color: #b62c22;
    text-transform: uppercase;
    color: white;
    width: 100%;
    font-size: 25px;
    height: 50px;
    cursor: pointer;
    border: 0;
}

.w3review {
    background: #c5c5c5;
}

section.chamada-1 {
    width: 100%;
    position: relative;
    top: -70px;
    z-index: 1;
    display: inline-block;
    text-align: center;
}

section.chamada-1 .container {
    padding: 62px 0;
    background-color: #BB281E;
}

section.chamada-1 .container .titulo-1 {
    font-size: 30px;
    font-weight: bold;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

section.chamada-1 h2 {
    width: 96%;
    max-width: 1200px;
    display: inline-block;
    color: white;
    font-size: 18   px;
    font-weight: lighter;
}


@media screen and (max-width: 960px) {
    .bg {
        text-align: center;
        padding: 10px 0;
        height: 830px;
    }

    .form-container {
        height: auto;
        width: 96%;
        max-width: 400px;
        position: static;
        display: inline-block;
        z-index: 1;
    }

    .chamada-1 {
        padding: 40px 0;

    }
}

@media screen and (max-width: 1027px) {

    .botao {
        display: none;
    }
}

    @media screen and (max-width: 510px) {

        header {
            text-align: center;
        }


        .logo-1,
        .logo-2,
        {
        margin-top: 10px;
        display: inline-block;
        float: none;
    }


}